body {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:navy;
    color: lightcyan;
}

th {
    color: indigo;
    border: 2px solid lightblue;
}

table {
    border: 4px solid royalblue;
    background-color: lightgoldenrodyellow;
    width: 100%;
}

td {
    border: 2px solid lightblue;
    color:rebeccapurple;
    background-color: lightskyblue;
}

caption {
    font-weight: bold;
    color: lightgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    text-decoration: underline;
    margin-bottom: 5px;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: lightgreen;
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: -15px;
}

.bookread {
    border-radius: 5%;
    background-color: royalblue;
    color:white;
}

.readbutton {
    background-color: aquamarine;
    border-radius: 6%;
    border: 4px solid darkgreen;
    width: 100%;
}

.rembutton {
    background-color: red;
    color: white;
    border: 4px solid darkred;
    width: 90%;
}

legend {
    margin: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

fieldset {
    display:flex;
    padding-bottom: 5px;
    gap: 5px;
    background-color: royalblue;
    border-radius: 3%;
}

.submit {
    background-color: slateblue;
    color: white;
}

#options {
    width: 150px;
}

.booktitle {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#add {
    border-radius: 5%;
    border-color: whitesmoke;
    background-color: mediumaquamarine;
    color: darkred;
    width: 100px;
}